@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';


/*---- DATATABLE -------------------------------------------------------------------*/

td.details-control {
    background: url(../images/vectors/icons/plus.png) no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url(../images/vectors/icons/minus.png) no-repeat center center;
}